/* General Reset and Body Styling */
html,
body {
    height: 100%;
    /* Ensure the body and html take full height of the viewport */
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    display: flex;
    flex-direction: column;
    /* Arrange content vertically */
}

/* Main Content Styling */
main {
    flex: 1;
    /* This ensures the main content area takes available space */
    padding: 20px;
}

/* Heading Styling */
h2 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 40px;
}

/* Form Styling */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input and Textarea Styling */
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    height: 150px;
    resize: vertical;
}

/* Focus Styling */
select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: none;
    border-color: #535761;
}

/* Submit Button Styling */
input[type="submit"] {
    background-color: #2C3E50;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #535761;
}


/* Footer Styling */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    h2 {
        font-size: 2em;
    }

    form {
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select,
    textarea,
    input[type="submit"] {
        font-size: 15px;
    }
}